@tailwind base;
@tailwind components;
@tailwind utilities;

a {
	color: #218721;
	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}

a:hover {
	color: black;
}

@font-face {
	font-family: 'heebo';
	font-style: normal;
	font-weight: 500;

	src: url('/fonts/Heebo-Medium.ttf'); /* IE9 Compat Modes */
	src: local(''), url('/fonts/Heebo-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'heebo';
	font-style: normal;
	font-weight: 700;
	src: url('/fonts/Heebo-Bold.ttf'); /* IE9 Compat Modes */
	src: local(''), url('/fonts/Heebo-Bold.ttf') format('truetype');
}

* {
	font-family: 'heebo';
}

:root {
	--duration: 2000;
}

svg.treeSVG {
	animation-name: svg-animation;
	animation-timing-function: linear;
	animation-duration: calc(var(--duration) * 0.5ms);
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	opacity: 0;
}

@keyframes svg-animation {
	to {
		opacity: 1;
	}
}

circle,
text {
	animation-name: circle-animation;
	animation-timing-function: linear;
	animation-duration: calc(var(--duration) * 1.5ms);
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	opacity: 0;
}

@keyframes circle-animation {
	to {
		opacity: 0.8;
	}
}

/* inner is simultaneous with circle/text animation */
path.inner.anime {
	animation-name: path-animation;
	animation-timing-function: linear;
	animation-duration: calc(var(--duration) * 1ms);
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

path.outer.anime {
	animation-name: path-animation;
	animation-timing-function: linear;
	animation-delay: calc(var(--duration) * 1ms);
	animation-duration: calc(var(--duration) * 1ms);
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes path-animation {
	to {
		stroke-dashoffset: 0;
	}
}

.instant {
	animation-duration: 1ms !important;
	animation-delay: 1ms !important;
	animation-timing-function: steps(1, end) !important;
}

.total-link {
	width: 100px;
	height: 100px;
	display: block;
}

@media only screen and (max-width: 768px) {
	.tree-text {
		font-size: 13px;
	}
}

.leaf-container {
	transition-property: transform, opacity;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 400ms;
}

.leaf-container:hover {
	transform: scale(1.25);
}

.leaf {
	visibility: hidden;
}

.leaf.anime {
	transition-property: transform, fill;
	/* transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
	transition-duration: 400ms;
	transform: scale(1);

	animation-name: leaf-animation;
	animation-timing-function: linear;
	animation-duration: calc(var(--duration) * 2.5ms);
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	visibility: visible;
}

@keyframes leaf-animation {
	from {
		fill: white;
		/*  opacity: 0;*/
		transform: scale(0.1);
	}

	80% {
	fill: white;
		/* opacity: 0;*/
		transform: scale(0.1);
	}

	to {
		/*  opacity: 0.8; */
		transform: scale(1);
	}
}

/* INTERACTIVITY  */

.extinction .leaf-container.extinction {
	transform: scale(1.1);
}

.extinction .leaf-container.survival {
	transform: scale(0.9);
	opacity: 0.7;
}

.survival .leaf-container.survival {
	transform: scale(1.1);
}

.survival .leaf-container.extinction {
	transform: scale(0.9);
	opacity: 0.7;
}

text {
	transition-property: transform;
	transition-duration: 400ms;
}

text:hover {
	transform: scale(1.1);
}
