@tailwind base;
@tailwind components;
@tailwind utilities;

a {
	color: #218721;
	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}

a:hover {
	color: black;
}

/* fonts.css */

@font-face {
	font-family: 'heebo';
	font-style: normal;
	font-weight: 500;

	src: url('/fonts/Modified-Heebo-Medium.otf'); /* IE9 Compat Modes */
	src: local(''), url('/fonts/Modified-Heebo-Medium.otf') format('opentype');
}

@font-face {
	font-family: 'heebo';
	font-style: normal;
	font-weight: 700;
	src: url('/fonts/Modified-Heebo-Bold.otf'); /* IE9 Compat Modes */
	src: local(''), url('/fonts/Modified-Heebo-Bold.otf') format('opentype');
}

* {
	font-family: 'heebo';
}

:root {
	--duration: 2000;
}

circle,
text {
	animation-name: circle-animation;
	animation-timing-function: linear;
	animation-duration: calc(var(--duration) * 1.5ms);
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes circle-animation {
	from {
		opacity: 0;
	}

	to {
		opacity: 0.8;
	}
}

/* inner is simultaneous with circle/text animation */
path.inner.anime {
	animation-name: path-animation;
	animation-timing-function: linear;
	animation-duration: calc(var(--duration) * 1ms);
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

path.outer.anime {
	animation-name: path-animation;
	animation-timing-function: linear;
	animation-delay: calc(var(--duration) * 1ms);
	animation-duration: calc(var(--duration) * 1ms);
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes path-animation {
	to {
		stroke-dashoffset: 0;
	}
}

.leaf {
	/* opacity: 0; */
	/* transform: scale(0.1); */
	visibility: hidden;
}

.leaf.anime {
	transition-property: transform;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 1150ms;

	animation-name: leaf-animation;
	animation-timing-function: linear;
	animation-duration: calc(var(--duration) * 2.5ms - 150ms);
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	visibility: visible;
}

@keyframes leaf-animation {
	from {
		opacity: 0;
		transform: scale(0.1);
	}

	80% {
		opacity: 0;
		transform: scale(0.1);
	}

	to: {
		opacity: 0.8;
		transform: scale(1);
	}
}

.total-link: {
	width: 100px;
	height: 100px;
	display: block;
}

@media only screen and (max-width: 768px) {
	.tree-text {
		font-size: 13px;
	}
}

/* INTERACTIVITY  */

.link.outer:hover > .leaf.anime {
	transform: scale(1.25);
}
