@tailwind base;
@tailwind components;
@tailwind utilities;

a {
	color: #218721;
	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}

a:hover {
	color: black;
}

/* fonts.css */

@font-face {
	font-family: 'heebo';
	font-style: normal;
	font-weight: 500;

	src: url('/fonts/Modified-Heebo-Medium.otf'); /* IE9 Compat Modes */
	src: local(''), url('/fonts/Modified-Heebo-Medium.otf') format('opentype');
}

@font-face {
	font-family: 'heebo';
	font-style: normal;
	font-weight: 700;
	src: url('/fonts/Modified-Heebo-Bold.otf'); /* IE9 Compat Modes */
	src: local(''), url('/fonts/Modified-Heebo-Bold.otf') format('opentype');
}

* {
	font-family: 'heebo';
}
